/**
 * @name Darkcore
 * @author varxez
 * @description Dark theme with attention to details. Nothing extra
 * @version 1.0
*/

.container__590e2,
.privateChannels__93473 {
  border-bottom-left-radius: 10px;
}

.sidebar_ded4b5 {
  background: var(--background-tertiary);
}

.avatar_f8541f {
  margin-left: 5px;
}

.theme-dark {
  --background-primary: rgb(29, 29, 31);
  --background-secondary: rgb(25, 25, 27);
  --background-tertiary: rgb(18, 18, 18);
  --background-secondary-alt: var(--background-tertiary);
  --background-floating: rgb(25, 25, 27);
  --focus-primary: darkred;
}

.scrollableContainer__33e06 {
  background: rgb(34, 34, 36);
}

html,
[data-popout-root] {
  --brand-experiment: rgb(53, 53, 55);
}

.button_afdfd9 {
  border-radius: 360vmax;
}